.content-container {
  height: 100%;
  width: 100%;

  /* no x dim scroll */
  overflow-x: hidden;
  overflow-y: scroll;

  /* hide scrollbar on desktop */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */

  /* enable smooth scrolling for mobile */
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  &-inner {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }
}

.markdown-body {
  position: relative;
  // no scrolling on the markdown content itself
  margin-left: auto;
  margin-right: auto;
  // keep main content from blowing up on big screens
  max-width: 800px;
  margin-bottom: 120px;
  padding-top: 5%;

  // TODO: unify font sizes with rem and root defs
  font-size: 16px;
  line-height: 22px;
}

/* specifically make scrollbar 0 dim for webkit based browsers */
.content-container::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

// for smaller desktops and mobile prevents from
// going to far edge of screen
@media only screen and (max-width: 1300px) {
  .content-container {
    &-inner {
      width: 80%;
    }
  }
}

// make bottom content accessible on mobile devices
@media only screen and (max-width: 600px) {
  .content-container {
    &-inner {
      padding-bottom: 120px;
    }
  }
}
