.banner {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    position: relative;
    padding: 12px 20px;
    margin-bottom: 16px;
    border: 1px solid transparent;
    border-radius: 5px;

    p {
        display: flex;
        justify-content: center;
    }

    a {
        color: #533f03;
        padding: 0 5px;
        font-weight: 700;
    }
}
