.sidebar-all {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
}

.sidebar-content {
  margin-top: 20%;
}

.responsive-sidebar-content {
  margin-top: 10%;
}

.sidebar-link-container {
  margin-top: 10%;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.sidebar-link {
  text-decoration: 'none';
}

.myaccordion .card:not(:first-child) {
  margin-top: 10%;
}

.myaccordion .responsive-card:not(:first-child) {
  margin-top: 2%;
}

.myaccordion .card {
  background-color: rgba(0, 0, 0, 0);
}

.myaccordion .card,
.myaccordion .card .card-header {
  border: none;
}
 
.myaccordion .card-header {
  background: transparent;
  padding: 0;
}
 
.myaccordion .fa-stack {
  font-size: 18px;
}
 
.myaccordion .btn {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.myaccordion .btn-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}
 
.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;
  color: black;
}
 
.myaccordion li + li {
  margin-top: 10px;
}
