.sidebar {
  height: 100%;
  width: 100%;
  overflow-y: auto;

  &-category {
    // TODO: Replace with global style and rem
    font-family: Roboto;
    font-style: bold;
    font-weight: 700;
  }

  &-content {
    margin-top: 20%;
  }

  &-responsive-content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    padding-bottom: 100px;
    
    @media only screen and (max-width: 800px) {
      margin-left: 7%;
      margin-right: 0;
    }
  }

  &-accordion {
    .card:not(:first-child) {
      margin-top: 7%;
    }

    .responsive-card:not(:first-child) {
      margin-top: 2%;
    }

    .card {
      // remove the default backend color entirely
      background-color: rgba(0, 0, 0, 0);
    }

    .card, .card .card-header {
      border: none;
    }

    .card-header {
      background: transparent;
      padding: 0;
    }

    .btn {
      width: 100%;
      // TODO: Replace with global
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1px;
      padding: 0;
      text-align: left;
      text-decoration: none;
    }

    .btn-link {
      // TODO: Replace with global
      text-decoration: none;
      color: black;
      font-weight: 600;
      
      @media only screen and (min-width: 800px) {
        padding-left: 10%;
      }
    }
    
    .custom-card-body {
      padding: 1.25rem 3.5rem;
      
      @media only screen and (max-width: 800px) {
        padding: 1.25rem;
      }
    }

    .btn-link:hover, .btn-link:focus {
      text-decoration: none;
      color: black;
    }
     
    li + li {
      margin-top: 10px;
    }
  }

  &-category-subitem {
    margin: 5% 0;

    &-item, &-item:hover {
      color: #000;
      text-decoration: none;
    }

    &-active {
      height: 24px;
      padding-left: 16px;
      position: absolute;
      left: 15px;
      border-left: 3px solid #16ac60;
    }
  }


  // remove default link styling and add small margin
  &-standalone-item {
    color: inherit;
    text-decoration: inherit;
    margin-bottom: 3%;
  }

  // keep this human sized
  &-external-link-icon {
    padding-bottom: 3px;
    padding-left: 2px;
    width: 9%;
  }
}

/* specifically make scrollbar 0 dim for webkit based browsers */
.sidebar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
